.type-house-wrapper {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid #00000080;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #00000066;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    position: relative;
    width: 470px;
  }
  .type-house-wrapper .text-5 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    position: relative;
    width: 100%;
  }
  .type-house-wrapper .text-5 .frame-18 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
  }
  .type-house-wrapper .text-5 .frame-18 .lo-i-ph-ng-c-n-thu-2 {
    color: #000000;
    font-family: "Gantari", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .type-house-wrapper .text-icons-4 {
    border-color: #7a73731a;
    border-top-style: solid;
    border-top-width: 1px;
    /* position: absolute; */
    /* top: 58px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
  }
  .type-house-wrapper .total-area-8 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 38px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 440px;
  }
  .type-house-wrapper .total-area-9 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
    width: 100%;
  }
  .type-house-wrapper .svg {
    height: 24px;
    position: relative;
    width: 24px;
  }
  .type-house-wrapper .layer {
    height: 22px;
    left: 4px;
    position: absolute;
    top: 1px;
    width: 17px;
  }
  .type-house-wrapper .text-6 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 12px;
    justify-content: center;
    position: relative;
  }
  .type-house-wrapper .text-wrapper-24 {
    color: #100e2c;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-right: -109px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .type-house-wrapper .total-area-10 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 38px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 38px;
    width: 440px;
  }
  .type-house-wrapper .total-area-10 .text-wrapper-25 {
    color: #100e2c;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-right: -39px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .type-house-wrapper .total-area-11 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 38px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 76px;
    width: 440px;
  }
  .type-house-wrapper .total-area-11 .text-wrapper-26 {
    color: #100e2c;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-right: -78px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .type-house-wrapper .total-area-12 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 38px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 114px;
    width: 440px;
  }
  .type-house-wrapper .total-area-12 .text-wrapper-27 {
    color: #100e2c;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-right: -124px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .type-house-wrapper .total-area-13 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 38px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 152px;
    width: 440px;
  }
  .type-house-wrapper .total-area-13 .text-wrapper-28 {
    color: #100e2c;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-right: -54px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .type-house-wrapper .total-area-14 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 38px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 190px;
    width: 440px;
  }
  .type-house-wrapper .total-area-14 .text-wrapper-29 {
    color: #100e2c;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-right: -58px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .type-house-wrapper .total-area-15 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 38px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 228px;
    width: 440px;
  }
  .type-house-wrapper .total-area-15 .text-wrapper-30 {
    color: #100e2c;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-right: -58px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .type-house-wrapper .total-area-16 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 38px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 266px;
    width: 440px;
  }
  .type-house-wrapper .total-area-16 .text-wrapper-30 {
    color: #100e2c;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-right: -58px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .type-house-wrapper .total-area-17 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 38px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 304px;
    width: 440px;
  }
  .type-house-wrapper .total-area-17 .text-wrapper-30 {
    color: #100e2c;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-right: -58px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  